{% load cms_tags menu_tags sekizai_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Intranet de Seguridad Ciudadana{% page_attribute "page_title" %}</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'assets/img/favicon.png' %}" rel="icon">
  <link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/main.css' %}" rel="stylesheet">
  {% render_block "css" %}
  <!-- =======================================================
  * Template Name: Append
  * Updated: Jan 30 2024 with Bootstrap v5.3.2
  * Template URL: https://bootstrapmade.com/append-bootstrap-website-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body class="index-page" data-bs-spy="scroll" data-bs-target="#navmenu">
  {% cms_toolbar %}
  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">
    <div class="container-fluid d-flex align-items-center justify-content-between">

      <a href="index.html" class="logo d-flex align-items-center me-auto me-xl-0">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="assets/img/logo.png" alt=""> -->
        <h1>INTRANET DE SEGURIDAD CIUDADANA - {% page_attribute "page_title" %}</h1>
        <span>.</span>
      </a>

    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- Hero Section - Home Page -->
    <section id="hero" class="hero">

      <img src="{% static 'assets/img/imagen-fondo-inicio.png' %}" alt="" data-aos="fade-in">
      <div class="container">
        <div class="row">
          <div class="col-lg-10">
            <h2 class="text-center" data-aos="fade-up" data-aos-delay="100">Bienvenidos a la Intranet de Seguridad Ciudadana - 2024</h2>
          </div>
        </div>
      </div>
    </section><!-- End Hero Section -->

      <!-- Nav Menu -->
      <nav id="navmenu" class="navmenu">
        <ul>
          {% show_menu 0 100 100 100 %}
        </ul>

        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav><!-- End Nav Menu -->
    <!-- Services Section - Home Page -->
    <section id="services" class="services">

    <!-- Team Section - Home Page -->
    <section id="team" class="team">

      <!--  Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Noticias</h2>
        <p>En esta sección podrás visualizar las noticas más importantes.</p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row gy-5">

          <div class="col-lg-4 col-md-6 member" data-aos="fade-up" data-aos-delay="100">
            <div class="member-img">
              <img src="{% static 'assets/img/imagen1.jpg' %}" class="img-fluid" alt="">
            </div>
            <div class="member-info text-center">
              <h4>Título Noticia 1</h4>
              <span>Descripción Noticia 1</span>
              <p>Este es un pequeño resumen de la noticia 1</p>
              {% block content1 %}
                {% placeholder "content1" %}
              {% endblock content1 %}
            </div>
          </div><!-- End Team Member -->

          <div class="col-lg-4 col-md-6 member" data-aos="fade-up" data-aos-delay="200">
            <div class="member-img">
              <img src="{% static 'assets/img/imagen2.jpg' %}" class="img-fluid" alt="">
            </div>
            <div class="member-info text-center">
              <h4>Título Noticia 2</h4>
              <span>Descripción Noticia 2</span>
              <p>Este es un pequeño resumen de la noticia 2</p>
              {% block content2 %}
              {% placeholder "content2" %}
            {% endblock content2 %}
            </div>
          </div><!-- End Team Member -->

          <div class="col-lg-4 col-md-6 member" data-aos="fade-up" data-aos-delay="300">
            <div class="member-img">
              <img src="{% static 'assets/img/imagen1.jpg' %}" class="img-fluid" alt="">
            </div>
            <div class="member-info text-center">
              <h4>Título Noticia 3</h4>
              <span>Descripción Noticia 3</span>
              <p>Este es un pequeño resumen de la noticia 3</p>
              {% block content3 %}
              {% placeholder "content3" %}
            {% endblock content3 %}
            </div>
          </div><!-- End Team Member -->

          <div class="col-lg-4 col-md-6 member" data-aos="fade-up" data-aos-delay="400">
            <div class="member-img">
              <img src="{% static 'assets/img/imagen2.jpg' %}" class="img-fluid" alt="">
            </div>
            <div class="member-info text-center">
              <h4>Título Noticia 4</h4>
              <span>Descripción Noticia 4</span>
              <p>Este es un pequeño resumen de la noticia 4</p>
              {% block content4 %}
              {% placeholder "content4" %}
            {% endblock content4 %}
            </div>
          </div><!-- End Team Member -->

          <div class="col-lg-4 col-md-6 member" data-aos="fade-up" data-aos-delay="500">
            <div class="member-img">
              <img src="{% static 'assets/img/imagen1.jpg' %}" class="img-fluid" alt="">
            </div>
            <div class="member-info text-center">
              <h4>Título Noticia 5</h4>
              <span>Descripción Noticia 5</span>
              <p>Este es un pequeño resumen de la noticia 5</p>
              {% block content5 %}
              {% placeholder "content5" %}
            {% endblock content5 %}
            </div>
          </div><!-- End Team Member -->

          <div class="col-lg-4 col-md-6 member" data-aos="fade-up" data-aos-delay="600">
            <div class="member-img">
              <img src="{% static 'assets/img/imagen2.jpg' %}" class="img-fluid" alt="">
            </div>
            <div class="member-info text-center">
              <h4>Título Noticia 6</h4>
              <span>Descripción Noticia 6</span>
              <p>Este es un pequeño resumen de la noticia 6</p>
              {% block content6 %}
              {% placeholder "content6" %}
            {% endblock content6 %}
            </div>
          </div><!-- End Team Member -->

        </div>

      </div>

    </section><!-- End Team Section -->

        <!-- Testimonials Section - Home Page -->
        <section id="testimonials" class="testimonials">

          <div class="container">
    
            <div class="row align-items-center">
    
              <div class="col-lg-5 info" data-aos="fade-up" data-aos-delay="100">
                <h3>Avisos Importantes</h3>
                <p>
                  En esta sección de avisos importantes podrás visualizar los avisos más relevantes en tiempo real.
                </p>
              </div>
    
              <div class="col-lg-7" data-aos="fade-up" data-aos-delay="200">
    
                <div class="swiper">
                  <script type="application/json" class="swiper-config">
                    {
                      "loop": true,
                      "speed": 600,
                      "autoplay": {
                        "delay": 5000
                      },
                      "slidesPerView": "auto",
                      "pagination": {
                        "el": ".swiper-pagination",
                        "type": "bullets",
                        "clickable": true
                      }
                    }
                  </script>
                  <div class="swiper-wrapper">
    
                    <div class="swiper-slide">
                      <div class="testimonial-item">
                        <div class="d-flex">
                          <div>
                            <h3> AVISO IMPORTANTE 1</h3>
                            <h4>SERENOS</h4>
                          </div>
                        </div>
                        <p>
                          <i class="bi bi-quote quote-icon-left"></i>
                          <span>Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.</span>
                          <i class="bi bi-quote quote-icon-right"></i>
                        </p>
                      </div>
                    </div><!-- End testimonial item -->
    
                    <div class="swiper-slide">
                      <div class="testimonial-item">
                        <div class="d-flex">
                          <div>
                            <h3>AVISO IMPORTANTE 2</h3>
                            <h4>CECOM</h4>
                          </div>
                        </div>
                        <p>
                          <i class="bi bi-quote quote-icon-left"></i>
                          <span>Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.</span>
                          <i class="bi bi-quote quote-icon-right"></i>
                        </p>
                      </div>
                    </div><!-- End testimonial item -->
    
                    <div class="swiper-slide">
                      <div class="testimonial-item">
                        <div class="d-flex">
                          <div>
                            <h3>AVISO IMPORTANTE 3</h3>
                            <h4>SEGURIDAD CIUDADANA</h4>
                          </div>
                        </div>
                        <p>
                          <i class="bi bi-quote quote-icon-left"></i>
                          <span>Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim tempor labore quem eram duis noster aute amet eram fore quis sint minim.</span>
                          <i class="bi bi-quote quote-icon-right"></i>
                        </p>
                      </div>
                    </div><!-- End testimonial item -->
    
                  </div>
                  <div class="swiper-pagination"></div>
                </div>
    
              </div>
    
            </div>
    
          </div>
    
        </section><!-- End Testimonials Section -->
  </main>

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">

    <div class="container footer-top">
      <div class="row gy-4">
        <div class="col-lg-5 col-md-12 footer-about">
          <a href="index.html" class="logo d-flex align-items-center">
            <span>Seguridad ciudadana</span>
          </a>
          <p>Aquí podrás visualizar información relevante de la municipalidad, enterarte de noticias, así como interactuar con la intranet.</p>
          <div class="social-links d-flex mt-4">
            <a href=""><i class="bi bi-twitter"></i></a>
            <a href=""><i class="bi bi-facebook"></i></a>
            <a href=""><i class="bi bi-instagram"></i></a>
            <a href=""><i class="bi bi-linkedin"></i></a>
          </div>
        </div>

        <div class="col-lg-2 col-6 footer-links">
          <h4>Enlaces disponibles</h4>
          <ul>
            {% show_menu 0 100 100 100 %}
          </ul>
        </div>

        <div class="col-lg-2 col-6 footer-links">
          <h4>Nuestros recursos</h4>
          <ul>
            <li><a href="#">Recurso 1</a></li>
            <li><a href="#">Recurso 2</a></li>
            <li><a href="#">Recurso 3</a></li>
            <li><a href="#">Recurso 4</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
          <h4>Contáctanos</h4>
          <p>Dirección ...</p>
          <p>ciudad, provincia, departamento</p>
          <p>Perú</p>
          <p class="mt-4"><strong>Teléfono:</strong> <span>+51 999 999 999</span></p>
          <p><strong>Email:</strong> <span>info@example.com</span></p>
        </div>

      </div>
    </div>

    <div class="container copyright text-center mt-4">
      <p>&copy; <span>Copyright</span> <strong class="px-1">Municipalidad de La Victoria</strong> <span>Todos los derechos reservados</span></p>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you've purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: [buy-url] -->
        Asignado por <a href="https://bootstrapmade.com/">ÁREA DE INFORMÁTICA</a>
      </div>
    </div>

  </footer><!-- End Footer -->

  <!-- Scroll Top Button -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
  <div id="preloader">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>

  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'assets/vendor/purecounter/purecounter_vanilla.js' %}"></script>
  <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'assets/js/main.js' %}" type="module"></script>
{% render_block "js" %}

</body>

</html>